apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "puppetboard.fullname" . }}
  labels:
{{ include "puppetboard.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "puppetboard.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "puppetboard.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ template "puppetboard.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
{{- if .Values.containers }}
{{ toYaml .Values.containers | indent 8 }}
{{- end }}
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: puppetboardsecretkeys
                  key: key
            - name: PUPPETBOARD_PORT
              value: '8080'
            - name: INVENTORY_FACTS
              value: {{ .Values.puppetboard.inventory_facts | quote }}
{{- if .Values.puppetboard.overview_filter }}
            - name: OVERVIEW_FILTER
              value: {{ .Values.puppetboard.overview_filter | quote }}
{{- end }}
            - name: PUPPETDB_HOST
              value: {{ .Values.puppetdb.host }}
            - name: PUPPETDB_PORT
              value: {{ .Values.puppetdb.port | quote }}
            - name: PUPPETDB_KEY
              value: /run/secrets/voxpupuli.org/certs/private.pem
            - name: PUPPETDB_CERT
              value: /run/secrets/voxpupuli.org/certs/cert.pem
            - name: PUPPETDB_SSL_VERIFY
              value: /run/secrets/voxpupuli.org/certs/ca.pem
            - name: DEFAULT_ENVIRONMENT
              value: '*'
          volumeMounts:
            - name: puppetboardpems
              mountPath: '/run/secrets/voxpupuli.org/certs/'
             
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: confdir
          emptyDir: {}
        - name: ssldir
          emptyDir: {}
        - name: puppetboardpems
          secret:
            secretName: {{ .Values.certSecret | default "puppetboardpems" }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
