apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pgbouncer-tls.fullname" . }}
  labels:
    {{- include "pgbouncer-tls.labels" . | nindent 4 }}
stringData:
  pgbouncer.ini: |
    [databases]
    {{- range $.Values.target_cluster.databases }}
    {{ .name }}=host={{ $.Values.target_cluster.host }} port={{ $.Values.target_cluster.port }} user={{ .username }} password={{ .password }}
    {{- end }}


    [pgbouncer]
    listen_port=6432
    listen_addr=0.0.0.0
    unix_socket_dir=/var/tmp/
    unix_socket_mode=0777
    auth_file=/etc/pgbouncer/userlist.txt
    auth_type=cert
    pidfile=/var/tmp/pgbouncer.pid
    admin_users=pgbouncer
    client_tls_sslmode=verify-full
    server_tls_sslmode=disable
    ignore_startup_parameters=extra_float_digits
    stats_period=60
    server_round_robin=0
    server_fast_close=0
    client_tls_cert_file=/etc/pgbouncer_cert/tls.crt
    client_tls_key_file=/etc/pgbouncer_cert/tls.key
    client_tls_ca_file=/etc/pgbouncer_cert/ca.crt
    client_tls_ciphers=fast
  userlist.txt: |
    "pgbouncer" ""
    {{- range $.Values.members }}
    "{{ . }}" ""
    {{- end }}
