apiVersion: v1
kind: Service
metadata:
  name: {{ include "pgbouncer-tls.fullname" . }}
  labels:
    {{- include "pgbouncer-tls.labels" . | nindent 4 }}
  annotations:
    service.beta.kubernetes.io/scw-loadbalancer-id: {{ .Values.public_endpoint.loadbalancer_id }}
    service.beta.kubernetes.io/scw-loadbalancer-externally-managed: "true"
    service.beta.kubernetes.io/scw-loadbalancer-proxy-protocol-v2: "true"
    service.beta.kubernetes.io/scw-loadbalancer-timeout-client: "1h"
    service.beta.kubernetes.io/scw-loadbalancer-timeout-tunnel: "1h"
spec:
  type: LoadBalancer
  ports:
    - port: {{ .Values.public_endpoint.port_proxyprotocol }}
      targetPort: proxyprotocol
      protocol: TCP
      name: proxyprotocol
  selector:
    {{- include "pgbouncer-tls.selectorLabels" . | nindent 4 }}
