# Default values for imap-mailbox-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullSecrets: []

replicaCount: 1

image:
  repository: docker.io/camptocamp/imap-mailbox-exporter
  tag: latest
  pullPolicy: IfNotPresent

service:
  name: nginx
  type: ClusterIP
  externalPort: 9117
  internalPort: 9117

imap:
  server: TO_BE_DEFINED
  username: TO_BE_DEFINED
  passwordSecret: TO_BE_DEFINED
  mailbox: INBOX
  queryInterval: 120
